header {
    background-color: #f4f0f0;
    color: darkblue;
    text-align: center;
    padding: none;
    font-family:sans-serif;
}
#homeicon{
    width:auto;
    height:25px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 60px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size:25px;
}
nav{
    background-color:#bb0000;
    text-align: left;
    justify-content:space-evenly;
}
#doctors {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

#doctors h1 {
    color: #007BFF; /* Heading color */
    font-size: 24px;
    margin-bottom: 20px;
}
.doctor {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.doctor img {
    max-width: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.doctor h2 {
    color: #333;
    font-size: 18px;
}
.doctor p {
    color: #666;
    font-size: 16px;
}
footer {
    text-align: center;
    background-color:#bb0000;
    color: #fff;
    padding:none;
    font-size:25px;
}